@charset "UTF-8";

/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--color-white);
    overflow: hidden;
}

.header {
    width: 100%;
    height: 70px;
}

/* 본문 영역 */
.body-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    overflow: hidden;
}

.row {
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

/* 우측: 사이드바 박스 */
.sidebarbox {
    height: 94%;
}


/*중간 서브사이드 바*/
* {
	box-sizing: border-box;
}

.subSidebar {
	padding:30px;
	height: 100%;
	width: 100%; 

	display: flex;
	
	top: 60px;
	overflow: hidden;
  	flex-direction: column;
}
label{
	margin-bottom:5px;
}
.dateBox{
	margin-bottom:30px;
}
/*서브사이드바 버튼 개당*/
.tapWrapper{
	width:100%;
	height:50px;
}
.tap {
  all: unset;              
  cursor: pointer;         
  display: inline-block;   
  box-sizing: border-box;  
  
  padding:12px 20px;
  font-size: 16p;
  cursor: pointer;
  color: #404040;
  border-left: 2px solid transparent;
  width:100%;
}
.tap:hover{
	background-color: #eef6ff;
	border-left:2px solid #0090ff;
	font-weight:bold;
}
.active{
	border-left:2px solid #0090ff;
	background-color:#eef6ff;
	font-weight:bold;
}
.teamListBox {
  border-radius: 0 !important;  
}
#teamListContainer {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  padding-left:30px;
}

.list-group-item {
  border: none !important; 
  box-shadow: none !important;
}
.team-item {
  cursor: pointer;
}
.team-item:hover {
  border-left:2px solid #0090ff !important;
  background-color: #eef6ff;
}


/*좌측 : 콘텐츠 */
.content {
    height: 94%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
	background-color: #f4f6ff;
}
/*대쉬보드쪽*/
.dashboard {
  display: flex;                
  align-items: stretch;         
  gap: 20px;                    
  height: 100%;                 
  padding: 20px;
  background: #f6f7fb;
  box-sizing: border-box;
}

/* 왼쪽: 두 박스를 세로로 1:1 배분 */
.left {
  flex: 1;                     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.left .box {
  flex: 1;                      
  border: 1px solid black;
  border-radius : 22px;
}

/* 오른쪽: 왼쪽 전체 높이와 동일 */
.right {
  flex: 1.2;                    
  display: flex;
  flex-direction: column;
}

.right .box {
  flex: 1;                     
  border: 1px solid black;
  border-radius : 22px;
}
.box {
  overflow: hidden;
  background-color: white;
}

/*차트*/
.donut-container {
  margin-top:20px;
  width: 100%;
  height: 300px;         
  overflow: hidden;       
  display: flex;
  justify-content: center;
  align-items: center;
}
#approvalPlot {
  flex: 1;
  width: 100%;
  height: 80%; 
  display:flex;
  justify-content: center;
  align-items: center;
}
.js-legend .legendtoggle rect {
  rx: 8px !important; 
  ry: 8px !important;
}
h6{
	margin-left:20px;
	margin-top:20px;
}
h5{
	color:#B0B0B0;
}
#margin-h6{
	margin-bottom:55px;
}


