@charset "UTF-8";
/* 사원관리 css */
:root {
    --font-family: 'Pretendard', sans-serif;
    
    --color-primary: #0090FF;
    --color-hover: #007ACC;
    --color-sud-color1: #BDE2FF;
    --color-sud-color2: #EFF3FF;
    --color-font-color1: #404040;
    --color-font-color2: #8C8C8C;
    --color-font-back: #D9D9D9;
    --color-back-hover: #B0B0B0;
    --color-delete: #FFCEB1;
    --color-delete-hover: #ED7833;
    --color-white: #FFFFFF;

    --font-size-base: 16px;
    --border-radius-main: 22px;
    --border-radius-body: 16px;
}
