@charset "UTF-8";

/* 기본 스타일 */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--color-white);
    overflow: hidden;
}

.header {
    width: 100%;
    height: 70px;
}

/* 본문 영역 */
.body-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    overflow: hidden;
}

.row {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0;
}

/* 사이드바 */
.sidebarbox {
    height: 94%;
}

/* 콘텐츠 */
.content {
    height: 94%;
    flex: 1;
    margin-left: 30px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 1px solid var(--color-font-color2);
    border-radius: var(--border-radius-main);
}


/* 관리 카드 */
.management-card {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
    padding: 20px;
    font-family: var(--font-family);
    font-size: 18px;
    color: var(--color-font-color1);
}

.dept-body{
	width: 100%;
	height: 98%;
}

/* 헤더 */
.card-header{
	margin-bottom: 20px;
}

.card-header h2 {
    font-size: 22px;
    font-weight: bold;
}

.card-header button{
	width: 160px;
	height: 40px;
}

.card-header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: var(--border-radius-main);
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    font-weight: bold;
	cursor: pointer;
}

.card-header .btn:hover{
	background-color: var(--color-hover);
}

.card-header .icon {
    width: 30px;
    height: 30px;
}

/* 테이블 */
.table-header {
	border-bottom: 1px solid #ccc;
}

.table-header, .table-row {
    display: flex;
    align-items: center;
    padding: 0 10px 10px;
}

.table-row{
	margin: 10px 0;
}

.col-id { width: 50px; text-align: center; }
.col-name { flex:1; padding-left: 10px;}
.col-count {flex:1; text-align: center; }
.col-date { width: 200px; text-align: right; }


/* 버튼 그룹 */
.button-group {
    display: flex;
    gap: 4px;
}

.button-group .btn {
    padding: 4px 10px;
    border-radius: 22px;
    border: 1px solid #0090ff;
    background: #eff3ff;
    color: #404040;
    cursor: pointer;
}

.button-group .btn:hover {
    background-color: #0090ff; 
    color: #fff;
    font-weight: bold;
}

.button-group .btn:active, .btn.active {
    background-color: #0090ff; 
    color: #fff;
    font-weight: bold;
}

/* 페이징 네비게이션 */
.pagination {
    flex-shrink: 0;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--color-font-color2);
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 6px;
    gap: 4px;
}

.pagination li {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--color-white);
    cursor: pointer;
}

.pagination li.active {
    background-color: var(--color-primary);
    color: #fff;
}

.pagination button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.2s;
}

.pagination button:hover {
    background-color: var(--color-font-back);
}

.pagination button:disabled {
    color: var(--color-primary);
    cursor: default;
}

//오버레이
.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(140, 140, 140, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 50px;
    box-sizing: border-box;
    align-items: flex-start;
    overflow-y: auto;
}

.modal.fade{
	overflow: hidden;
}

.modal.fade:not(.show) .modal-dialog {
    transform: none;
}

.modal-dialog {
    max-width: 460px !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    top: 10%;
   	padding-right: 20px;
    overflow: hidden;
}

.modal-content {
	width: 100%;
	height: 88%; 
    border-radius: 22px;
    background-color: #fff;
    border: 1px solid #8c8c8c;
    box-sizing: border-box;
    
    overflow: hidden;
}

.modal-body{
	width: 100%;
	height: 100%; 
    overflow-y: hidden;
    padding: 0;
}

