<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Approval">

  <!-- 전체 리스트 (페이징) -->
	<select id="selectAllFromTo" parameterType="map" resultType="map">
	  SELECT *
	  FROM (
	    SELECT ROWNUM AS rnum, A.*
	    FROM (
	      SELECT 
	        a.approval_seq,
	        a.member_email,
	        a.approval_title,
	        a.approval_content,
	        a.approval_at,
	        a.approval_status,
	        m.name AS member_name,
	        m.dept_code,
	        d.dept_name,
	        m.level_code,
	        l.level_name        
	      FROM approval a
	      JOIN member m 
	        ON a.member_email = m.email
	      JOIN department d 
	        ON m.dept_code = d.dept_code
	      JOIN job_level l
	        ON m.level_code = l.level_code
	        AND m.company_code = l.company_code
	      ORDER BY a.approval_seq DESC
	    ) A
	    WHERE ROWNUM &lt;= #{end}
	  )
	  WHERE rnum &gt;= #{start}
	</select>


  <!-- 필터 리스트 (상태 + 부서코드) -->
	<select id="selectByFilterFromTo" parameterType="map" resultType="map">
	select * from (
		  select rownum as rnum, a.* from (
		    select a.approval_seq, a.member_email, a.approval_title, a.approval_content, a.approval_at, a.approval_status, m.name as member_name, m.dept_code, d.dept_name, m.level_code, l.level_name
		    from approval a
		    join member m on a.member_email = m.email
		    join department d on m.dept_code = d.dept_code
		    join job_level l on m.level_code = l.level_code and m.company_code = l.company_code
		    where m.company_code = #{company_code}
		    <if test="status != null and status != ''">and a.approval_status = #{status}</if>
		    <if test="deptCode != null and deptCode != ''">and m.dept_code = #{deptCode}</if>
		    order by a.approval_seq desc
		  ) a where rownum &lt;= #{end}
		) where rnum &gt;= #{start}

<!--SELECT *
	  FROM (
	    SELECT ROWNUM AS rnum, A.*
	    FROM (
	      SELECT 
	        a.approval_seq,
	        a.member_email,
	        a.approval_title,
	        a.approval_content,
	        a.approval_at,
	        a.approval_status,
	        m.name AS member_name,
	        m.dept_code,
	        d.dept_name,
	        m.level_code,
	        l.level_name           
	      FROM approval a
	      JOIN member m 
	        ON a.member_email = m.email
	      JOIN department d 
	        ON m.dept_code = d.dept_code
	      JOIN job_level l          
	        ON m.level_code = l.level_code
	        AND m.company_code = l.company_code
	      <trim prefix="WHERE" prefixOverrides="AND |OR ">
	        <if test="status != null and status != ''">
	          AND a.approval_status = #{status}
	        </if>
	        <if test="deptCode != null and deptCode != ''">
	          AND m.dept_code = #{deptCode}
	        </if>
	      </trim>
	      ORDER BY a.approval_seq DESC
	    ) A
	    WHERE ROWNUM &lt;= #{end}
	  )
	  WHERE rnum &gt;= #{start}-->
	</select> 


  <!-- 전체 개수 -->
  <select id="getCount" resultType="int">
    SELECT COUNT(*) FROM approval
  </select>


  <!-- 필터된 개수 -->  
  <select id="getCountByFilter" parameterType="map" resultType="int">
    select count(*)
	from approval a
	join member m on a.member_email = m.email
	where m.company_code = #{company_code}
	<if test="status != null and status != ''">and a.approval_status = #{status}</if>
	<if test="deptCode != null and deptCode != ''">and m.dept_code = #{deptCode}</if>
  
  
  
 <!--   SELECT COUNT(*)
    FROM approval a
    JOIN member m ON a.member_email = m.email
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="status != null and status != ''">
        AND a.approval_status = #{status}
      </if>
      <if test="deptCode != null and deptCode != ''">
        AND m.dept_code = #{deptCode}
      </if>
    </trim>-->
  </select>


  <!-- 상태 업데이트 -->
  <update id="updateStatus" parameterType="map">
    UPDATE approval
    SET approval_status = #{newStatus}
    WHERE approval_seq = #{targetseq}
  </update>


  <!-- 디테일 하나 가져오기 -->
  <select id="toDetailApproval" resultType="com.kedu.approval.ApprovalDTO">
  	select * from approval where approval_seq = #{approval_seq}
  </select>
</mapper>