<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Commute">
  <!-- 1️.근태관리 -->
	<select id="getAttendanceStats" parameterType="map" resultType="map">
		select status, count(*) as cnt
		from (
		    select 
		        c.member_email,
		        case 
		            when c.work_at is not null then '출근'
		            when c.work_at is null 
		                 and exists (
		                     select 1 from pto_request p
		                     where p.member_email = c.member_email
		                       and p.pto_status = 'y'
		                       and trunc(c.commute_at) between trunc(p.pto_start_at) and trunc(p.pto_end_at)
		                 )
		               then '연차'
		            else '결근'
		        end as status
		    from member m
		    join commute c on m.email = c.member_email
		    join department d on m.dept_code = d.dept_code
		    where trunc(c.commute_at) between #{startDate, jdbcType=DATE} and #{endDate, jdbcType=DATE}
		      and m.company_code = #{company_code, jdbcType=VARCHAR}
		      <if test="type != null and type != '전체'">
		        and d.dept_name = #{type}
		      </if>
		)
		group by status
	</select>

  <!-- 2️. 출근관리 -->
	<select id="getWorkStats" parameterType="map" resultType="map">
		select
		    nvl(sum(case when lateness = 'n' and absence = '출근' then 1 else 0 end), 0) as "정근",
		    nvl(sum(case when lateness = 'y' and absence = '출근' then 1 else 0 end), 0) as "지각"
		from (
		    select c.lateness, c.absence
		    from commute c
		    join member m on c.member_email = m.email
		    join department d on m.dept_code = d.dept_code
		    where trunc(c.commute_at) between #{startDate, jdbcType=DATE} and #{endDate, jdbcType=DATE}
		      and m.company_code = #{company_code, jdbcType=VARCHAR}  
		      <if test="type != null and type.trim() != '전체' and type.trim().length() > 0">
		        and trim(d.dept_name) = trim(#{type})
		      </if>
		)
	</select>

<!-- 3️. 전자결재 처리현황 -->
	<select id="getApprovalStats" parameterType="map" resultType="map">
		select
		    nvl(sum(case when a.approval_status = 'w' then 1 else 0 end), 0) as "처리중",
		    nvl(sum(case when a.approval_status = 'n' then 1 else 0 end), 0) as "반려",
		    nvl(sum(case when a.approval_status = 'y' then 1 else 0 end), 0) as "승인"
		from approval a
		join member m on a.member_email = m.email
		join department d on m.dept_code = d.dept_code
		where trunc(a.approval_at) between #{startDate, jdbcType=DATE} and #{endDate, jdbcType=DATE}
		  and m.company_code = #{company_code, jdbcType=VARCHAR} 
		  <if test="type != null and type.trim().length() > 0 and type != '전체'">
		    and trim(d.dept_name) = trim(#{type})
		  </if>
	</select>


</mapper>