<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Commute">
  <!-- 1️.근태관리 -->
<select id="getAttendanceStats" parameterType="map" resultType="map">
  SELECT STATUS, COUNT(*) AS CNT
  FROM (
      SELECT 
          c.MEMBER_EMAIL,
          CASE 
              WHEN c.WORK_AT IS NOT NULL THEN '출근'
              WHEN c.WORK_AT IS NULL 
                   AND EXISTS (
                       SELECT 1 FROM PTO_REQUEST p
                       WHERE p.MEMBER_EMAIL = c.MEMBER_EMAIL
                         AND p.PTO_STATUS = 'y'
                         AND TRUNC(c.COMMUTE_AT) BETWEEN TRUNC(p.PTO_START_AT) AND TRUNC(p.PTO_END_AT)
                   )
                   THEN '연차'
              ELSE '결근'
          END AS STATUS
      FROM MEMBER m
      JOIN COMMUTE c ON m.EMAIL = c.MEMBER_EMAIL
      JOIN DEPARTMENT d ON m.DEPT_CODE = d.DEPT_CODE  
      WHERE TRUNC(c.COMMUTE_AT) BETWEEN #{startDate, jdbcType=DATE} AND #{endDate, jdbcType=DATE}
      <if test="type != null and type != '전체'">
        AND d.DEPT_NAME = #{type} 
      </if>
  )
  GROUP BY STATUS
</select>

  <!-- 2️. 출근관리 -->
<select id="getWorkStats" parameterType="map" resultType="map">
  SELECT
    NVL(SUM(CASE WHEN LATENESS = 'n' AND ABSENCE = '출근' THEN 1 ELSE 0 END), 0) AS "정근",
    NVL(SUM(CASE WHEN LATENESS = 'y' AND ABSENCE = '출근' THEN 1 ELSE 0 END), 0) AS "지각"
  FROM (
      SELECT c.LATENESS, c.ABSENCE
      FROM COMMUTE c
      JOIN MEMBER m ON c.MEMBER_EMAIL = m.EMAIL
      JOIN DEPARTMENT d ON m.DEPT_CODE = d.DEPT_CODE
      WHERE TRUNC(c.COMMUTE_AT) BETWEEN #{startDate, jdbcType=DATE} AND #{endDate, jdbcType=DATE}
      <if test="type != null and type.trim() != '전체' and type.trim().length() > 0">
        AND TRIM(d.DEPT_NAME) = TRIM(#{type})
      </if>
  )
</select>

<!-- 3️⃣ 전자결재 처리현황 -->
<select id="getApprovalStats" parameterType="map" resultType="map">
  SELECT
    NVL(SUM(CASE WHEN a.APPROVAL_STATUS = 'w' THEN 1 ELSE 0 END), 0) AS "처리중",
    NVL(SUM(CASE WHEN a.APPROVAL_STATUS = 'n' THEN 1 ELSE 0 END), 0) AS "반려",
    NVL(SUM(CASE WHEN a.APPROVAL_STATUS = 'y' THEN 1 ELSE 0 END), 0) AS "승인"
  FROM APPROVAL a
  JOIN MEMBER m ON a.MEMBER_EMAIL = m.EMAIL
  JOIN DEPARTMENT d ON m.DEPT_CODE = d.DEPT_CODE
  WHERE TRUNC(a.APPROVAL_AT) BETWEEN #{startDate, jdbcType=DATE} AND #{endDate, jdbcType=DATE}
  <if test="type != null and type.trim().length() > 0 and type != '전체'">
    AND TRIM(d.DEPT_NAME) = TRIM(#{type})
  </if>
</select>


</mapper>