<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="File">

	<!-- 부모 시퀀스와 타입으로 리스트 뽑기 -->
	<select id="selectByParentSeq"
		resultType="com.kedu.file.FileDTO">
		select * from file_info where file_type =#{file_type} and
		parent_seq =#{parent_seq}
	</select>
	<!-- 시스네임으로 dto 뽑기 -->
	<select id="selectBySysname" parameterType="String"
		resultType="com.kedu.file.FileDTO">
		select * from file_info where sysname= #{sysname}
	</select>

	<!-- 파일 업로드. -->
	<insert id="upload" parameterType="com.kedu.file.FileDTO">
		insert into file_info
		(file_seq, file_type, member_email, sysname, oriname, parent_seq, upload_at)
		values (file_seq.nextval, #{file_type}, #{member_email}, #{sysname},
		#{oriname}, #{parent_seq}, sysdate)
	</insert>

	<!-- 부모시퀀스, 종류에 따른 파일 삭제하기 -->
	<delete id="deleteByParentSeq">
		delete from file_info where parent_seq=#{parent_seq} and
		file_type=#{file_type}
	</delete>

	<!--시스네임으로 지우기 -->
	<delete id="deleteBySysname">
		delete from file_info where sysname =#{sysname}
	</delete>
	
	
</mapper>
