<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FileMapper">

	<!-- 파일 등록 -->
	<insert id="insertFile" parameterType="com.kedu.file.FileDTO">
		INSERT INTO file_table (
		file_seq,
		member_email,
		sysname,
		oriname,
		upload_at,
		file_code,
		parent_seq
		)
		VALUES (
		file_seq_seq.NEXTVAL,
		#{member_email},
		#{sysname},
		#{oriname},
		SYSDATE,
		#{file_code},
		#{parent_seq}
		)
	</insert>

	<!-- 게시글별 파일 목록 -->
	<select id="getFilesByParentSeq"
		resultType="com.kedu.file.FileDTO" parameterType="map">
		SELECT
		FILE_SEQ,
		MEMBER_EMAIL,
		SYSNAME,
		ORINAME,
		UPLOAD_AT,
		FILE_TYPE,
		PARENT_SEQ
		FROM FILE_INFO
		WHERE 1=1
		<if test="parentSeq != null">
			AND PARENT_SEQ = #{parentSeq, jdbcType=NUMERIC}
		</if>
		<if test="fileCode != null">
			AND FILE_TYPE = #{fileCode, jdbcType=VARCHAR}
		</if>
	</select>


	<!-- 부모글 기준 파일 전체 삭제 -->
	<delete id="deleteFilesByParent" parameterType="int">
		DELETE FROM
		file_table WHERE parent_seq = #{parent_seq}
	</delete>

</mapper>
