@charset "UTF-8";
/* 전자결재 상세보기 css */


/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--color-white);
    overflow: hidden;
}
.inProgress {
  color: #B0B0B0;
  font-weight: 500;
}

.approved {
  color: #0090FF; 
  font-weight: 600;
}

.denied {
  color:  #ED7833;
  font-weight: 600;
}



.header {
    width: 100%;
    height: 70px;
}

/* 본문 영역 */
.body-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 30px 20px;
    overflow: hidden;
}
.row {
  display: flex !important;
  flex-direction: row !important;
  align-items: stretch;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

/* 우측: 사이드바 박스 */
.sidebarbox {
    height: 94%;
}

/*좌측 : 콘텐츠 */
.content {
    height: 94%;
    flex: 1;
    margin-left: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}



/*버튼제외 글불러오는 박스*/
.parent {
    border-radius: 22px;
    background-color: #fff;
    border: 1px solid #8c8c8c;

     align-self: stretch;
     height: 80vh;
     display: flex;
     flex-direction: column;
     align-items: center;
}
/*타이틀*/
.div2 {
     align-self: stretch;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     align-content: center;
     padding: 30px;
}
.div3 {
     position: relative;
     text-transform: capitalize;
     font-weight: 600;
     font-size: 20px;
}
/*이메일, 작성일, 상태+ 글 영역*/
.div4 {
     /* align-self: stretch; */
     width: 100%;
     height: 68vh;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0px 20px;
     gap: 30px;
     font-size: 18px;
}
/*이메일, 작성일, 상태*/
.div5 {
     width: 100%;
     border-bottom: 1px solid #8c8c8c;
     display: flex;
     flex-direction: row;
     padding-bottom: 10px;
     gap: 10px
}
.div6 {
flex-shrink: 0;
  height: 100%;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.div6_left {
  padding-left:10px;
  flex: 1;
}
.div6_right {
  flex: 9;
}

/*내용영역*/
.div10 {
    height: 55vh;
     align-self: stretch;
     display: flex;
     align-items: center;
     padding: 0px 20px;
     
}
.txt {
      overflow-y: auto;      
	  overflow-x: hidden;      
	  width: 100%;
	  height: 100%;
	  padding: 5px;
	
	  white-space: normal;    
	  word-wrap: break-word;    
	  word-break: break-word;   
}

/*버튼*/
.btns{
     width: 100%;
     height: 10%;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     margin-top:15px;

     font-size: 18px;
     color: #fff;
     font-family: Pretendard;
    
     gap: 25px;
}
button{
     height: 48px;
     width: 200px;
     border-radius: 22px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 16px;
     box-sizing: border-box;
     border:none;
}
#btn1{ /*파랑
	color: var(--color-white)  !important;
    background-color: var(--color-primary)  !important;*/
    background-color: #0090FF;
}
#btn1:hover{ /*파랑*/
    background-color: var(--color-hover)  !important;
}

#btn2{/*주황
    color: var(--color-white)  !important;
    background-color: var(--color-delete)  !important;*/
    background-color: #FFCEB1;
}
#btn2:hover{ /*주황*/
    background-color: var(--color-delete-hover)  !important;
}
#btn3{/*회색
	color: var(--color-white) !important; 
    background-color: var(--color-font-back)  !important;*/
    background-color: #D9D9D9;
}
#btn3:hover{ /*회색*/
    background-color: var(--color-back-hover)  !important;
}

/*수정영역*/
/* ApprovalDetail.module.css */
.txtActive {
  border: 2px solid #0090ff;
  /* background-color: #f0f8ff; */
  border-radius: 6px;
}

.div3Active {
  border: 2px solid #0090ff;
  /* background-color: #f3f7fa; */
  border-radius: 6px;
}




 @media (max-width: 1350px) {
.div6{
    font-size: 16px;
}
.div6_left {
  flex: 1;
}
.div6_center {
  flex: 1.2;
}
.div6_right {
  flex: 7.8;
}
}

 @media (max-width: 1115px) {
.div6{
    font-size: 16px;
}
.div6_left {
  flex: 1;
}
.div6_center {
  flex: 2;
}
.div6_right {
  flex: 7;
}
.documentIcon {
     width: 16px;
     height: 16px;
     margin :auto;
}
}

 @media (max-width: 860px) {
  #unseen{
    display: none;
  }
  .div6_center {
  flex: 2.5;
}
.div6_right {
  flex: 7.5;
}
}

 @media (max-width: 768px) {
  .div6_center {
  flex: 2;
}
.div6_right {
  flex: 8;
}
}


 @media (max-width: 545px) {
  .div6_center {
  flex: 3;
}
.div6_right {
  flex: 7;
}
.documentIcon {
     width: 10px;
     height: 10px;
     margin :auto;
}
}

 @media (max-width: 415px) {
  .div6_center {
  flex: 3.5;
}
.div6_right {
  flex: 6.5;
}
.documentIcon {
     width: 10px;
     height: 10px;
     margin :auto;
}
}



